USE [PerformanceEye]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AutoWho].[CaptureSummary](
	[SPIDCaptureTime] [datetime] NOT NULL,
	[CapturedSPIDs] [int] NOT NULL,
	[Active] [int] NOT NULL,
	[ActLongest_ms] [bigint] NULL,
	[ActAvg_ms] [bigint] NULL,
	[Act0to1] [int] NULL,
	[Act1to5] [int] NULL,
	[Act5to10] [int] NULL,
	[Act10to30] [int] NULL,
	[Act30to60] [int] NULL,
	[Act60to300] [int] NULL,
	[Act300plus] [int] NULL,
	[IdleWithOpenTran] [int] NOT NULL,
	[IdlOpTrnLongest_ms] [bigint] NULL,
	[IdlOpTrnAvg_ms] [bigint] NULL,
	[IdlOpTrn0to1] [int] NULL,
	[IdlOpTrn1to5] [int] NULL,
	[IdlOpTrn5to10] [int] NULL,
	[IdlOpTrn10to30] [int] NULL,
	[IdlOpTrn30to60] [int] NULL,
	[IdlOpTrn60to300] [int] NULL,
	[IdlOpTrn300plus] [int] NULL,
	[WithOpenTran] [int] NOT NULL,
	[TranDurLongest_ms] [bigint] NULL,
	[TranDurAvg_ms] [bigint] NULL,
	[TranDur0to1] [int] NULL,
	[TranDur1to5] [int] NULL,
	[TranDur5to10] [int] NULL,
	[TranDur10to30] [int] NULL,
	[TranDur30to60] [int] NULL,
	[TranDur60to300] [int] NULL,
	[TranDur300plus] [int] NULL,
	[Blocked] [int] NOT NULL,
	[BlockedLongest_ms] [bigint] NULL,
	[BlockedAvg_ms] [bigint] NULL,
	[Blocked0to1] [int] NULL,
	[Blocked1to5] [int] NULL,
	[Blocked5to10] [int] NULL,
	[Blocked10to30] [int] NULL,
	[Blocked30to60] [int] NULL,
	[Blocked60to300] [int] NULL,
	[Blocked300plus] [int] NULL,
	[WaitingSPIDs] [int] NOT NULL,
	[WaitingTasks] [int] NOT NULL,
	[WaitingTaskLongest_ms] [bigint] NULL,
	[WaitingTaskAvg_ms] [bigint] NULL,
	[WaitingTask0to1] [int] NULL,
	[WaitingTask1to5] [int] NULL,
	[WaitingTask5to10] [int] NULL,
	[WaitingTask10to30] [int] NULL,
	[WaitingTask30to60] [int] NULL,
	[WaitingTask60to300] [int] NULL,
	[WaitingTask300plus] [int] NULL,
	[AllocatedTasks] [int] NOT NULL,
	[QueryMemory_MB] [decimal](38, 3) NOT NULL,
	[LargestMemoryGrant_MB] [decimal](38, 3) NULL,
	[TempDB_MB] [decimal](38, 3) NOT NULL,
	[LargestTempDBConsumer_MB] [decimal](38, 3) NULL,
	[CPUused] [bigint] NOT NULL,
	[CPUDelta] [bigint] NULL,
	[LargestCPUConsumer] [bigint] NULL,
	[WritesDone] [bigint] NOT NULL,
	[WritesDelta] [bigint] NULL,
	[LargestWriter] [bigint] NULL,
	[LogicalReadsDone] [bigint] NOT NULL,
	[LogicalReadsDelta] [bigint] NULL,
	[LargestLogicalReader] [bigint] NULL,
	[PhysicalReadsDone] [bigint] NOT NULL,
	[PhysicalReadsDelta] [bigint] NULL,
	[LargestPhysicalReader] [bigint] NULL,
	[TlogUsed_MB] [decimal](38, 3) NULL,
	[LargestLogWriter_MB] [decimal](38, 3) NULL,
	[BlockingGraph] [bit] NOT NULL,
	[LockDetails] [bit] NOT NULL,
	[TranDetails] [bit] NOT NULL,
 CONSTRAINT [PK_AutoWho_CaptureSummary] PRIMARY KEY CLUSTERED 
(
	[SPIDCaptureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
